name: ty

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - master
      - 'releases/**'
  merge_group:

jobs:
  ty:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
    - uses: actions/checkout@v3
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        uv venv --seed ~/test-env
        source ~/test-env/bin/activate
        uv pip install ty==$(grep "ty==" requirements-dev.txt | cut -d'=' -f3)
    - name: Running ty
      run: |
        source ~/test-env/bin/activate
        ty check sky examples/admin_policy/example_policy \
            --exclude 'sky/backends/monkey_patches/**' \
            --exclude 'examples/admin_policy/example_policy/build/**' \
            --exclude 'sky/skylet/providers/ibm/**' \
            --exclude 'sky/schemas/generated/**' \
            --ignore unresolved-import
